body {
  padding-top: 70px;
  height: 100%;
}
.table .btn-link {
  padding: 0px 12px;
}
.panel-footer .pagination {
  margin: 0;
}
.footer {
  padding: 15px 0;
  margin-top: 50px;
  border-top: 1px solid #ddd;
}

.artist-thumbnail {
  max-width: 150px;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album {
  height: 330px;
  margin-bottom: 50px;
}

.album:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .album {
    height: 310px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .album {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .album {
    margin-bottom: 30px;
  }
}

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.3);
}